version: '3.8'
services:
  postgresdb:
    image: postgres:15
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: product_db
    ports:
      - "5434:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"

volumes:
  pg_data: